@charset "shift_jis";
/* 
　
	Template003 Black　のスタイル

----------------------------------------------------------------------------------------------------------*/

/*----------------------------------------------------------------------------------------------------------

　　初期設定

  ----------------------------------------------------------------------------------------------------------*/

*{ margin:0; padding:0;}
img{ border:0;}
html{overflow-y: scroll;}
table,div{	margin:auto;}

/*フォント設定*/
body {
	color:#666;	
	font-family:"ＭＳ ゴシック", "MS Gothic", "Osaka－等幅", Osaka-mono, monospace, "ＭＳ Ｐゴシック";
	font-size:80%;
}
th,td{
	_font-size:80%;
}
a{	color:#000;　text-decoration:underline;	}
a:hover{
	color:#F06;
	text-decoration:underline;
	}
#Header #Logo p{
	margin:10px;
	font-size:20px;
	font-weight:normal;
	_font-weight:bold;
	font-family:"Century Gothic","ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	_font-family:"Century Gothic","ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3", sans-serif;	
	font-weight:bold;
	}

/*----------------------------------------------------------------------------------------------------------

　　ベースレイアウト

  ----------------------------------------------------------------------------------------------------------*/

body{
	text-align:center;
	background-color:#FFF;	
	background:url(bg.jpg);
	}

#Bg{
	padding:12px 0 0 0;
}
#Container{
	width:800px;
	margin-bottom:20px; 
	text-align:left;
	background:url(bg_content.gif) repeat-y;	
	}
#Container:after{
    content: "";
    display: block;
    clear: both;
}


/*ヘッダー
-----------------------------------------------------------------------*/
#Header{
	background:url(bg_header.jpg) repeat-x;
	height:158px;
	}
#Header:after{
    content: "";
    display: block;
    clear: both;
	}	
#Header h1{
	color:#333;
	font-weight:normal;
	font-size:11px;	
	padding:20px 0 0 20px;
	height:10px;
	}
#Header #Logo{
	width:500px;
	float:left;
	margin-left:10px;
	}
#Header #Logo p{
	font-size:24px;
	font-weight:bold;
	font-family:"Century Gothic","ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	_font-family:"Century Gothic","ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3", sans-serif;	
	}
#Header #Logo p a{
	text-decoration:none;
	color:#FFF;
	display:block;
	height:90px;	
	line-height:90px;	
	}
#Header #Logo p a:hover{}	
#Header #LogoRight{
	float:right;
	width:200px;
	_width:210px;
	padding:2px 10px 0 0 ;
	}
#Header #LogoRight .infoBox{
	font-size:16px;
	font-family:"Century Gothic";
	text-align:right;
	margin:0 0 10px 0;
}
#Header #LogoRight .infoBox span{
	font-size:12px;
}
#Header #LogoRight #upMenu{
	clear:both;
	height:26px;	
	}
#Header #LogoRight #upMenu ul{
	float:right;
	list-style-type:none;
	}
#Header #LogoRight #upMenu ul li{
	float:left;
	margin:0 5px 0 0;
	width:38px;
	}
#Header #LogoRight #upMenu ul li a{
	display:block;
	text-indent:-9999px;
	width:38px; height:38px;	
	}
#Header #LogoRight #upMenu ul li a:hover{
	background-color:#666;
	}
#Header #LogoRight #upMenu ul li.btn_home a{
	background:url(btn_home.jpg) no-repeat;
	width:38px; height:38px;
	}
#Header #LogoRight #upMenu ul li.btn_mail a{
	background:url(btn_mail.jpg) no-repeat;
	}
#Header #LogoRight p.infoBox{
	font-size:16px;
	height:32px;
	font-family:"Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-weight:bold;
	text-align:right;
	line-height:30px;
	vertical-align:top;
	display:block;
	clear:both;
	padding:0px 10px 0 0;
	color:#FFF;
	}
#Header #LogoRight p.infoBox .telmark{
	font-size:10px;
	line-height:30px;
	}	
	
/*メニュー
-----------------------------------------------------------------------*/
#Menu{
	clear:both;
	height:48px;
	margin:0 10px 10px 10px;
	width:780px;
	}
#Menu:after{
    content: "";
    display: block;
    clear: both;
}

#Menu ul{
	list-style-type:none;
	/*display:none;*/
	background:url(bg_menu2.jpg) no-repeat;	
	height:48px;

	}
#Menu ul li {
	position: relative;
	float:left;
	text-align:center;
	height:48px;
	background:url(bg_menu_li.jpg) repeat-x;	
}
#Menu ul li.on{
	background:url(bg_menu_li_on.jpg) repeat-x;	
	}

#Menu ul li a {
	display:block;
	color:#FFF;
	font-size:14px;
	margin:0 0 0 0px;
	text-decoration:none;
	height:48px;
	line-height:48px;
	font-family:"ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro","メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	border-right:1px solid #333;
}
#Menu ul li.last{}
#Menu ul li.last a{
	margin-right:0px;
	border-right-width:0;
	}
#Menu ul li a:hover{}
#Menu ol{
	width:100%;
	list-style-type:none;
	position: absolute;
	display:none;	
	top:48px;
	left:0px;
	z-index:3;
	background-color:#000;
}
#Menu ol li{
	background:none !important;	
	float:none;
	border-width:0;
	height:auto;
	background:none;
	}
#Menu ol li a{
	font-family:"ＭＳ ゴシック", "MS Gothic", "Osaka－等幅", Osaka-mono, monospace, "ＭＳ Ｐゴシック";
	text-align:left;
	margin:0;
	padding:10px 0px 10px 0px;
	text-align:center;
	font-size:11px;
	line-height:1.1em;
	height:auto;
	border-bottom:1px solid #333;
	border-right-width:0;	
	}	
#Menu ol li a:hover{
	background-color:#333  !important;
	color:#FFF;
	}
#Menu ol li.last a{}
#Menu ol li.last a:hover{
	background:#333 !important;	
}


	
/*フッター
-----------------------------------------------------------------------*/

#Footer{
	width:800px;
	clear:both;
	background:url(bg_footer.jpg) no-repeat;
	height:130px;
	position:relative;
	color:#FFF;
	}
#Footer #footMenu{
	position:absolute;
	top:30px;
	left:20px;
	width:780px;
	font-size:11px;
	}
#Footer #footMenu:after{
    content: "";
    display: block;
    clear: both;
}
#Footer #footMenu ul{
	list-style-type:none;
}
#Footer #footMenu ul li{
	float:left;
	
}
#Footer #footMenu ul li a{
	color:#FFF;
	width:auto;	
	font-size:11px;
	text-decoration:none;
	padding:0 4px 0 4px;
	}	
#Footer #footMenu a:hover{
	text-decoration:underline;
}	

#Footer #copyRight{
	font-family:"Century Gothic";
	position:absolute;
	font-size:10px;
	top:50px;
	left:25px;
}
#Footer #copyRight a{
	color:#CCC;
	text-decoration:none;
}
#Footer #copyRight a:hover{
	color:#CCC;
}
#Footer #tplCopy{
	position:absolute;
	top:70px;
	right:20px;
	}
#Footer #tplCopy p{
	float:left
}
#Footer #tplCopy p a{
	display:block;
	text-indent:-9999px;
}
#Footer #tplCopy #design a{
	background:url(bn_decoboko.gif) no-repeat;
	width:79px;
	height:27px;
	}
#Footer #tplCopy #sp a{
	background:url(bn_sp.gif) no-repeat;
	width:26px;
	height:27px;	
	}	


/*----------------------------------------------------------------------------------------------------------

　　コンテンツ

----------------------------------------------------------------------------------------------------------*/
#ConBg{
	margin:0px;}
#ContentBox{
	clear:both;
	padding:0 10px 20px 10px;
	zoom:100%;
	}
#ContentBox:after{
    content: "";
    display: block;
    clear: both;
	}
#Main{}

	
/*２カラム
-----------------------------------------------------------------------*/
.col2 #Main{
	float:right;
	width:600px;
	padding:0 0px 0 0px;
	}

.col2 #Sidebar{
	float:left;
	width:170px;
	}
.col2 #Sidebar .subMenu{
	background:url(bg_side_menu_btm.jpg) no-repeat bottom;
	margin:0 0 20px 0;
	}
.col2 #Sidebar .subMenu h3{
	background:url(bg_side_menu_top.jpg) no-repeat;
	height:38px;
	line-height:38px;
	margin:0;
	color:#FFF;
	text-align:center;
	}
.col2 #Sidebar .subMenu ul{
	list-style-type:none;
	display:block;
	background:url(bg_side_menu.jpg) repeat-y;
	}
.col2 #Sidebar .subMenu ul li{
	margin:0 1px 0 1px;
	background:url(bg_side_menu_li.jpg) repeat-x bottom;
	font-size:14px;	
	_font-size:1px;	
	}
.col2 #Sidebar .subMenu ul li a{
	color:#000;
	display:block;
	padding:14px 5px 14px 5px;
	text-decoration:none;
	font-size:14px;
	}
.col2 #Sidebar .subMenu ul li a:hover{
	color:#FFF;
	background-color:#333;
	}	

.col2 #Sidebar .bnr{
	margin:0 0 5px 0;}

/*----------------------------------------------------------------------------------------------------------

見出し

----------------------------------------------------------------------------------------------------------*/
h2,h3,h4,h5,h6{
	clear:both;
	font-family:"Century Gothic","ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3", sans-serif;	

}
h2{
	background:url(bg_h2.jpg) no-repeat;
	height:70px;
	line-height:70px;
	font-weight:normal;
	_font-weight:bold;
	font-size:20px;
	color:#FFF;
	padding:0 0 0 25px;
	font-weight:normal;
	margin:0px 0px 10px 0px;	
	letter-spacing:1px;
	font-family:"Century Gothic","メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro";		
	}
#Main h3{
	background:url(bg_h3.jpg) no-repeat;
	font-size:15px;	
	color:#FFF;	
	padding:12px 10px 12px 10px;
	margin:2px 0 8px 0;
	}
.col2 #Main h3{
	background:url(bg_h3.jpg) no-repeat;
	}
#Main h4{
	font-size:19px;
	line-height:30px;
	font-size:15px;
	padding:0;
	margin:7px 0 5px 0;
	border:dotted #666;
	border-width:0 0 1px 0;
	}
#Main h5{
	background-color:#000;
	font-size:13px;
	padding:3px;
	margin:6px 0 5px 0;
	color:#FFF;
	}
#Main h6{
	color:#000;
	font-size:12px;
	margin:5px 0 4px 0;	
	}
/*箇条書き（リスト）*/

#Main ul{
	margin:0 0 20px 0px;
	list-style-type:none;}
#Main ul li{
	margin:0 0 8px 0;
	line-height:1.6em;
	background:url(ul_li.jpg) no-repeat left;
	padding:2px 0 0 20px;
	}


#Main ol{
	margin:0 0  20px 30px;
	list-style-type:decimal;}
#Main ol li{
	margin:0 0 8px 0;
	line-height:1.6em;
	}

#Main blockquote{
	background:url(bg2.jpg) ;
	padding:20px;
	margin:5px 0 10px 0px ;
	}
/*----------------------------------------------------------------------------------------------------------

　　その他汎用セレクタ

----------------------------------------------------------------------------------------------------------*/

/*フォント*/
.txt{}
.txt p{
	line-height:1.6em;
	margin:0 0 15px 0;}

.B{ font-weight:bold;}
.noB{ font-weight:normal;}
.tBK{ color:#000; }
.tBW{ color:#630; }
.tRD{ color:#F00; }
.tBL{ color:#06C; }
.tGR{ color:#393; }
.tYW{ color:#FC0; }
.tOR{ color:#F60; }
.tPK{ color:#F39; }
.SS{ font-size:10px; }
.S{ font-size:110%; }
.L{ font-size:x-large;}
.LL{ font-size:xx-large;}


/*配置・レイアウト*/
  
.center{ text-align:center; }
.left{ text-align:left; }
.right{ text-align:right; }

.clrFix{
	zoom:100%;
	clear:both;
	}
.clrFix:after{
    content: "";
    display: block;
    clear: both;
}

/*テーブルセット*/
/**/
.tableA,
.tableB{
	border-collapse:collapse;
	width:100%;
	margin:0 0 10px 0;
	table-layout:fixed;
	}

.tableA th,
.tableB th{
	padding:5px;		
	}
.tableA td,
.tableB td{
	padding:5px;
	}

.tableA{}
.tableA th{
	border:1px solid #CCC;
	background:url(bg3.gif);
	color:#333;
	text-align:center;
	line-height:1.4em;
	font-weight:normal;

	}
.tableA td{
	border:1px solid #CCC;
	background:url(bg4.gif);
	line-height:1.4em;
	}
/**/
.tableB{}
.tableB th{
	border: dotted #666;
	border-width:0 1px 0 0;	
	text-align:right;
	vertical-align:top;
	line-height:1.6em;

	font-weight:normal;
	font-family:"Century Gothic","Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-style:italic;
	}
.tableB td{
	border: dotted #666;
	border-width:0 0 0 1px;	
	line-height:1.6em;
	padding:5px 5px 20px 5px;
	
	}
/**/
.pic_txt,
.pic_txt2{
	zoom:100%;
	clear:both;
	margin:0 0 10px 0;
	padding:5px;	
}
.pic_txt:after,
.pic_txt2:after{
    content: "";
    display: block;
    clear: both;
}
	
	
	
	
.pic_txt{
	/*background:url(bg2.jpg);*/
	padding:5px;
	}
.pic_txt .pic{
	float:left;
	width:200px;
	}
.pic_txt .txt{
	float:right;
	width:540px;
	text-align:left;
	}
.col2 .pic_txt .pic{
	float:left;
	width:200px;
	}
.col2 .pic_txt .txt{
	float:right;
	width:370px;
	}
/**/		
.pic_txt2{
	background:url(bg2.jpg);
}
.pic_txt2 .pic{
	width:160px;
	float:left;
	}
.pic_txt2 .txt{
	width:720px;
	float:right;
	text-align:left;
	font-size:80%;
	}
.col2 .pic_txt2 .pic{
	width:160px;
	float:left;
	}
.col2 .pic_txt2 .txt{
	width:400px;
	float:right;
	}
/**/  




#Main img{ border:5px solid #DDD;}
#Main a img { border:5px solid #DDD;}
#Main a:hover img { border:5px solid #FC3;}

/*マウスオーバー画像*/
.hvimg a:hover img{
	filter:alpha(opacity=70);
	-moz-opacity:0.70;
	opacity:0.70;	
	}




.bnrSps_line{
	margin:0 0 10px 0;}
.bnrSps_line ul{
	list-style-type:none;}
.bnrSps_line ul li{
	float:left;
	margin:0 10px 0 0;}	
.bnrSps_line ul li a:hover img{
	filter:alpha(opacity=75);
	-moz-opacity:0.75;
	opacity:0.75;	
	}	
/**/
#Main ul.photo_list{
	display:block;
	list-style-type:none;
	clear:both;
	zoom:100%;
/*	width:920px;*/
	margin:0 0 14px 0;
	}
#Main ul.photo_list:after{
    content: "";
    display: block;
    clear: both;
	}	
#Main ul.photo_list li{
	float:left;
	margin:0 14px 0 0;
	background:none;
	padding:0;
	}
#Main ul.photo_list li.last{
	margin-right:0;
	}

	
/**/

.linkList{
	margin:10px;
	}
.linkList dl{ }
.linkList dt{
	font-size:13px;
	color:#F90;
	font-family:"Century Gothic","メイリオ", Meiryo, "ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro";		
	}
.linkList dt a{
	display:block;
	color:#999;
	}
.linkList dt a:hover{
	background-color:#FC0;
	color:#000;}
.linkList dd{
	font-size:11px;
	background:url(bg_line.gif) repeat-x bottom;
	padding:2px 0 5px 0px;
	margin:0px 0 20px 0 ;}






.pagetop{
	width:780px;
	clear:both;
	margin:0 auto 0 auto;
	height:16px;
}
.pagetop a{
	display:block;
	background:url(btn_page_top.jpg) no-repeat;
	text-indent:-9999px;
	width:76px;
	height:16px;
	float:right;
}

.pagetop a:hover{
     filter:alpha(opacity=65);
     -moz-opacity:0.65;
     opacity:0.65;
	 }
	
.col2 .pagetop{
	width:600px;
	}

	

/*----------------------------------------------------------------------------------------------------------

　　ページ独自

----------------------------------------------------------------------------------------------------------*/


/*トップページ
-----------------------------------------------------------------------*/
#HOME{}
#mainImage{
	margin:0 0 20px 0;	
}
#mainImage p{ width:770px;}
#mainImage p img{ border:5px #EEE solid; }	
#HOME h2{
	font-size:23px;
	height:30px;
	line-height:30px;
	font-weight:normal;
	margin:0 0 5px 0;
	padding-left:5px;
	font-family:"Century Gothic","ヒラギノ角ゴ Pro W3", "Hiragino Kaku Gothic Pro", "メイリオ", Meiryo, Osaka, "ＭＳ Ｐゴシック", "MS PGothic", sans-serif;
	_font-family:"Century Gothic","ＭＳ Ｐゴシック", Osaka, "ヒラギノ角ゴ Pro W3", sans-serif;
	background:none;
	color:#000;
	}

#Pickup{
	float:left; width:450px;
	}
#Pickup .clrFix{
	margin:0 0 6px 0;
	padding:5px;
/*	background:url(bg2.jpg) ;*/
}
#Pickup .pic{
	float:left;
	width:150px;
	}
#Pickup .txt{
	margin:0 0 0 160px;
	line-height:1.7em;
	font-size:90%;
	}
		
#Info{
	float:right;
	width:300px;
	margin:0 0 30px 0;
	}
#Info #scroll{
	margin:0 0 6px 0;
	}
#Info #scroll span{
	display:block;
/*	background:url(bg2.jpg);*/
	padding:5px 5px 2px 5px;
	font-family:"Century Gothic";
}
#Info #scroll p{
	display:block;
/*	background:url(bg2.jpg) ;	*/
	padding:5px 5px 10px 5px;
	margin:0 0 3px 0;
	font-size:90%;
	line-height:1.7em;	
	}





/*お問い合わせ
-----------------------------------------------------------------------*/
#contact{
	border:5px solid #000;
	padding:10px;
	}
#contact span{
	color:#F00;
	}

#contact table{
	width:100%;
	table-layout:fixed;	
	margin:0;
	border-collapse:collapse;

	}
#contact table th{
	vertical-align:top;
	padding:14px; text-align:right;
	border-bottom:1px solid #CCC;
	background:url(bg2.jpg);
	width:30%;
	}
#contact table th span{font-size:12px; color:#F00;  font-weight:normal;}
#contact table td{ 
	width:70%;
	padding:10px;
	border-bottom:1px solid #CCC;
	background:url(bg4.gif);
	}
#contact input{ line-height:30px; }
#contact input.txtbox{ margin:2px; 	border:2px solid #CCC;}
#contact .sSize{ width:80px; height:30px;}
#contact .mSize{ width:180px; height:30px;}
#contact .wSize{ width:350px; height:30px;}
#contact .radio{}
#contact .txtarea{ width:350px; height:180px; 	border:2px solid #CCC;}
#contact .formBtn{
	text-align:center;
	}
#contact .formBtn input{
	padding:5px 20px 5px 20px;
	font-size:14px;
	cursor:pointer;
	}
#contact input.focus,
#contact textarea.focus{
	border:2px solid #FC0;
	background-color:#EEE;
}

/*----------------------------------------------------------------------------------------------------------

印刷用

----------------------------------------------------------------------------------------------------------*/
@media print {
	
	.display_print{ display:none;}

}



